

#background-container {
    width: 100vw;
    height: 100vh;
    background: black;
    background-image: url("../assets/background.jpg");
    background-size: 100%;
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
}

.name {
    color: white;
    text-align: center;
}

.title {
    font-weight: bold;
    margin-left: 15px;
}

/* menu */

.menu {
    background-color: #1c1c1c;
    width: 60vw;
    border-radius: 10px;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: auto;
    margin-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.button-group-menu {
    display: flex;
    margin-left: auto;
    align-items: center;
}


/* header */

.header {
    background-color: #1c1c1c;
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

.settings {
    height: 40vh;
    width: 40vw;
    margin: auto;
}

.settings-menu-container {
    display: flex;
    flex-direction: row;
}

.settings-menu-btn {
    background-color: #1c1c1c;
    border: solid #1c1c1c;
}

.settings-menu-btn:hover{
    border-bottom: solid red;
    cursor: pointer;
}

.side-settings-menu {
    width: 30%;
    height: 40vh;
    padding-top: 20px;
}

.settings-entry {
    height: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    display: flex;
    align-items: center;
}

.settings-entry:hover {
    background-color: #292828;
    cursor: pointer;
    border-radius: 30px;
}

.main-settings-window {
    width: 70%;
    height: 40vh;
    margin-top: 30px;
    margin-left: 25px;
}

.setting-header {
    font-weight: bold;
}

.active {
    background-color: #292828af;
    cursor: pointer;
    border-radius: 15px;
}

.right-menu {
    margin-left: auto;
    margin-right: 20px;
}


.main-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 25vw;
    max-width: 300px;
}

.contents-bottom {
    max-width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.contact-cmp {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.download {
    background-color: #be3523;
    border: none;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    height: 30px;
}

.download:hover {
    background-color: #353b34;
    cursor: pointer;
}

.download svg {
    margin-top: auto;
    margin-bottom: auto;
}

h2 {
    margin-left: 20px;
}

a {
    color: #be3523;
}

a:hover {
    color: white;
}

.version {
    margin-top: 30px;
}

.about {
    height: 1500px;
    display: inline-block;
    position: relative;
}

.sticky-component {
    position: sticky;
    display: flex;
    flex-direction: row;
    top: 10rem;
}

.experience {
    height: 2000px;
}
