
<div class="header">
  <app-language-selector (languageMessageEvent)="handleLanguageChange($event)"></app-language-selector>
</div>
<div class="main-contents">
  <div class="content-left">
    <h1 class="title"> {{ greeting }} <span class="name">{{ name }}</span></h1>
  <div *ngIf="selectedLanguage == 'EN'">
    <app-en></app-en>
  </div>
  <div *ngIf="selectedLanguage == 'PT'">
    <app-pt></app-pt>
  </div>
  <div *ngIf="selectedLanguage == 'DE'">
    <app-de></app-de>
  </div>
  </div>
  <div class="content-right">
    <div class="img-container">
      <img src="/assets/own-picture.png" alt="Picture of Leandro Carvalho"/>
    </div>
    </div>
</div>

